{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bucket list {% endblock %}
{% block headline %} Bucket list  {% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Name </td>
            <th>Directory</td>
            <th>Disk</td>
            <th>Actions</td>
        </tr>
        {% for bucket in object_list %}
        <tr>
            <td>
                {{ bucket.name }}
            </td>
            
            <td>
                {{ bucket.directory }}
            </td>

            <td>
                <a href="{% url "disk" %}?bucket={{ bucket.pk }}">
                Disk
                </a>
            </td>
            <td>
                <a href="{% url "bucket_detail" id=bucket.pk %}">
                    <img src="{% static "images/actions/details.png" %}">
                </a>
                <a href="{% url "bucket_edit" id=bucket.pk %}">
                    <img src="{% static "images/actions/edit.png" %}">
                </a>
                <a href="{% url "bucket_remove" id=bucket.pk %}">
                    <img src="{% static "images/actions/delete.png" %}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <div id="sidebar">
        <a class="sidebar-button"  href="{% url "bucket_add" %}">Add bucket</a>
    </div>
{% endblock %}
