<html>
    <head>
        <title>Bukkit list</title>
    </head>
    <body>
        <ul>
            {% for bukkit in object_list %}
            <li>
                <a href="{% url "bukkit_detail" id=bukkit.pk %}">
                    {{ bukkit }}
                </a>
                <a href="{% url "bukkit_edit" id=bukkit.pk %}">
                    edit
                </a>
                <a href="{% url "bukkit_remove" id=bukkit.pk %}">
                    remove
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url "bukkit_add" %}">Добавить</a>
    </body>
</html>
