{% extends "base.html" %}

{% block title %} Bucket list {% endblock %}
{% block headline %} Bucket list  {% endblock %}

{% block main %}
    <table>
        {% for bukkit in object_list %}
        <p>
        <tr>
            <td>
                <a href="{% url "bukkit_detail" id=bukkit.pk %}">
                    {{ bukkit }}
                </a>
            </td>
            
            <td>
                <a href="{% url "bukkit_edit" id=bukkit.pk %}">
                    edit
                </a>
            </td>

            <td>
                <a href="{% url "bukkit_remove" id=bukkit.pk %}">
                    remove
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <div id="sidebar"><a class="sidebar-button" href="{% url "bukkit_add" %}">Add bucket</a><div id="sidebar">
{% endblock %}
