{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Tasks list {% endblock %}
{% block headline %} Tasks list  {% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Bucket </td>
            <th>Command</td>
            <th>Target</td>
            <th>Status</td>
            <th>Actions</td>
        </tr>
        {% for task in object_list %}
        <tr>
            <td>
                <a href="{% url "bukkit_detail" id=task.bukkit.pk %}"> {{ task.bukkit }} </a>
            </td>
            
            <td>
                {{ task.command }}
            </td>
            
            <td>
                {{ task.target }}
            </td>

            <td>
                {{ task.status }}
            </td>

            <td>
                <a href="{% url "task_detail" id=task.pk %}">
                    <img src="{% static "images/actions/details.png" %}">
                </a>
                <a href="{% url "task_edit" id=task.pk %}">
                    <img src="{% static "images/actions/edit.png" %}">
                </a>
                <a href="{% url "task_remove" id=task.pk %}">
                    <img src="{% static "images/actions/delete.png" %}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <div id="sidebar">
        <a class="sidebar-button"  href="{% url "task_add" %}">Add task</a>
    </div>
{% endblock %}
